
@font-face {
    font-family: "Lobster";
    src: url("fuente/Lobster-Regular.ttf");
    
}

@font-face {
    font-family: "Brush";
    src: url("fuente/BrushScriptOpti-Regular.otf");
    
}


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.fondoDavid{
    
    background-image: url("img/davidfondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
    height: 200px;
    max-height: 300px;
    display: flex;

}

.fondoBody {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #2f3435 90%);


}


.titulo {
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-decoration:none;
    text-size-adjust:initial;
    display: flex;
    justify-content: center;
    text-shadow: black -5px 3px 5px;
}

.titulo2 {
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-decoration: underline;
    text-size-adjust:initial;
    display: flex;
    justify-content: center;
    text-shadow: black -5px 3px 5px;
}

h1 {
    font-size: xx-large;
    font-family: "Brush";
    color: goldenrod;
    text-decoration: underline;
    text-size-adjust: auto;
    display: flex;
    justify-content: center;
}

h2{
    font-family: "Lobster",serif;
    color: #fff;
    justify-content: center;
    display: flex;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    
}

h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    
}

p {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
}
.profesion {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
}

.div{
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
   
}

.contacto{
    flex-wrap: wrap;
    justify-content: center;
    
}

.criolla{
    width: 300px;
    height: 200px;
    background-image: url("img/criolla.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    animation:zoomout 2s;
}

.criolla:hover{
    animation: zoomin 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: forwards;
}

.electrica2{
    width: 300px;
    height: 200px;
    background-image: url("img/electrica.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    animation:zoomout 2s;

}


.electrica2:hover{
    animation: zoomin 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: forwards;
}

.electroAcustica{
    width: 300px;
    height: 200px;
    background-image: url("img/electroacustica.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    animation:zoomout 2s;

}


.electroAcustica:hover{
    animation: zoomin 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: forwards;
}



/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
    from {transform: scale(1);
    background-size: cover;
    overflow: visible;}
    to {transform: scale(1.2);
    background-size: cover;}
}

  /*@keyframes zoomin {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
  } /*End of Zoom in Keyframes */

   /* Zoom out Keyframes */
 @-webkit-keyframes zoomout {
    from {transform: scale(1.2);
    background-size: cover;
    overflow: visible;}
    to {transform: scale(1);
    background-size: cover;}
 }

  /*@keyframes zoomout {
    0% {transform: scale(1);}
    50% {transform: scale(0.67);}
    100% {transform: scale(1);}
  }/*End of Zoom out Keyframes */


.disabled-electrica{
    pointer-events: none;
    background-size: contain;
    height: 500px;
    
}

.disabled-electroAcustica{
    pointer-events: none;
    background-size: contain;
    height: 400px;
    
}

.disabled-criolla{
    pointer-events: none;
    background-size: contain;
    height: 400px;
    
}

.electrica{
    width: 300px;
    height: 100px;
    background-image: url("img/guitarra.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banner{
    /*background-color: rgba(235, 157, 11, 0.747);*/
    max-height: 500px;
    
    padding-bottom: 10px;
    
    
}

.link{
    color: lightseagreen;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
    color: goldenrod;
    
}
.link:link{
    color: white;
}

.link:visited{
    opacity: 0.7;
}

.button {
    margin: auto;
}



/*Iconos de redes sociales, no funcionan en github*/

    .fa-youtube:hover {
    opacity:0.5;
    text-decoration:underline;
    }
    .fa-facebook-square:hover {
    opacity:0.5;
    text-decoration:underline;
    }
    .fa-twitter-square:hover {
    opacity:0.5;
    text-decoration:underline;
    }
    .fa-google-plus-square:hover{
    opacity:0.5;
    text-decoration:underline;
    }
    .fa-instagram:hover {
    opacity:0.5;
    text-decoration:underline;
    }
    .fa-linkedin-square:hover{
    opacity:0.5;
    text-decoration:underline;
    }
     .fa-github-square:hover {
    opacity:0.5;
    text-decoration:underline;
    }
    .fa-youtube {
    font-size: 52px;
    color: rgb(255, 0, 0);
    margin: auto 5px auto 5px;
    padding: auto;
    text-decoration:none;
    width: 100px;
    }

     .fa-github-square {
    color: rgba(24, 9, 230, 0.849);
    width:80px;
    text-decoration:none;
    margin-left:50px;
    border-radius: 7px;    
    background-color: white;
   
    }

    .fa-facebook-square {
    font-size: 52px;
    color: rgba(24, 9, 230, 0.849);
    margin: auto 5px auto 5px;
    padding: auto;
    text-decoration:none;
    width: 100px;
    }
    .fa-twitter-square {
    font-size: 52px;
    color: aqua;
    margin:auto;
    padding: auto;
    text-decoration:none;
    width: 100px;
    }
    .fa-google-plus-square {
    font-size: 52px;
    color: gray;
    margin: auto 5px auto 5px;
    padding: auto;
    text-decoration:none;
    width: 100px;
    }
    .fa-instagram {
    font-size: 52px;
    color: indianred;
    margin: auto 5px auto 5px;
    padding: auto;
    text-decoration:none;
    width: 100px;
    }
    .fa-linkedin-square {
    font-size: 52px;
    color: gray;
    margin:auto;
    padding: auto;
    text-decoration:none;
    width: 100px;
    }
    /*Para que los videos sean responsive*/
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }
    .embed-container iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
/*probar poner imagen en david turza*/
    .title{
        display: flex;
        text-align:center;
        width: 224px;
        color:white;
        border: solid white 2px;
        border-bottom: none;
    }
    input[type="button"] {
        border-radius: 10px;
        background-color:#000000;
        color: white;
        border-color:#ff4456 ;
        width:100%;
    }

    input[type="text"] {
        border-radius: 10px;
        text-align: right;
        background-color:rgb(255, 255, 255);
        border-color: black ;
        width:100%;
    }

    .tabla {
        border: solid white 2px;
    }

    .centrar-Calculadora{
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .centrar-afinador{
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .borde-afinador{
        border-radius: 10px;
    }

    /*Afinador de guitarra*/

.notes {
  margin: auto;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  color:white;
}

.note {
  font-size: 90px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-right: 30px;
  padding-left: 10px;
}

.note.active {
  color: #e6331f;
}

.notes-list {
  overflow: auto;
  overflow: -moz-scrollbars-none;
  white-space: nowrap;
  -ms-overflow-style: none;
  -webkit-mask-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0),
    #fff,
    rgba(255, 255, 255, 0)
  );
}

.notes-list::-webkit-scrollbar {
  display: none;
}

.note {
  -webkit-tap-highlight-color: transparent;
}

.note span {
  position: absolute;
  right: 0.25em;
  font-size: 40%;
  font-weight: normal;
}

.note-sharp {
  top: 0.3em;
}

.note-octave {
  bottom: 0.3em;
}

.frequency {
  font-size: 32px;
  color: white;
}

.frequency span {
  font-size: 50%;
  margin-left: 0.25em;
}

.meter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50%;
  width: 400px;
  height: 33%;
  margin: 0 auto 5vh auto;
}

.meter-pointer {
  width: 2px;
  height: 100%;
  background: #d7dde4;
  transform: rotate(45deg);
  transform-origin: bottom;
  transition: transform 0.5s;
  position: absolute;
  right: 50%;
}

.meter-dot {
  width: 10px;
  height: 10px;
  background: #2c3e50;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  right: 50%;
  margin-right: -4px;
}

.meter-scale {
  width: 1px;
  height: 100%;
  transform-origin: bottom;
  transition: transform 0.2s;
  box-sizing: border-box;
  border-top: 10px solid;
  position: absolute;
  right: 50%;
}

.meter-scale-strong {
  width: 2px;
  border-top-width: 20px;
  color: white;
}

.frequency-bars {
  position: fixed;
  bottom:0;
  
}

@media (max-width: 768px) {
  .meter {
    width: 100%;
  }

  .notes {
    width: 100%;
  }
}

.swal-button {
  background: #dcdfe2;
}

.a4 {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
}

.a4 span {
  color: #dfd4d2;
}

